{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
    "parameters": { 
      "workspaceName": {
          "defaultValue": "{{ oms_workspaceName }}",
          "type": "String",
          "metadata": {
            "description": "workspaceName"
          }
        },
      "location": {
          "defaultValue": "{{ oms_location }}",
          "type": "String",
          "metadata": {
            "description": "location"
          }
        }
     },
    "variables": { 
      "MySearch": {
        "displayName": "{{ item.name }}",
        "query": "{{ item.query }}",
        "category": "{{ item.category }}",
        "name": "{{ item.name }}"
      },
      "MyAlert": {
        "Name": "Alert_{{ item.alertName }}",
        "DisplayName": "{{ item.name }} Alert",
        "Description": "{{ item.description}}",
        "Severity": "{{ item.severity }}",
        "ThresholdOperator": "gt",
        "ThresholdValue": 0,
        "Schedule": {
          "Name": "Schedule_{{ item.alertName }}",
          "Interval": 10,
          "TimeSpan": 10
        },
        "MetricsTrigger": {
          "TriggerCondition": "Consecutive",
          "Operator": "gt",
          "Value": 0
        },
        "ThrottleMinutes": 10,
        "Notification": {
          "Recipients": [
            "{{ item.recipients }}"
          ],
          "Subject": "{{ item.name }} - Alert"
        }
      }
    },
  "resources": [
    {
    "name": "[concat(parameters('workspaceName'), '/', variables('MySearch').Name)]",
    "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
    "apiVersion": "2015-11-01-preview",
    "dependsOn": [],
    "tags": {},
    "properties": {
        "etag": "*",
        "query": "[variables('MySearch').query]",
        "displayName": "[variables('MySearch').displayName]",
        "category": "[variables('MySearch').category]"
    }
    },
    {
    "name": "[concat(parameters('workspaceName'), '/', variables('MySearch').Name, '/', variables('MyAlert').Schedule.Name)]",
    "type": "Microsoft.OperationalInsights/workspaces/savedSearches/schedules/",
    "apiVersion": "2015-11-01-preview",
    "dependsOn": [
      "[concat('Microsoft.OperationalInsights/workspaces/', parameters('workspaceName'), '/savedSearches/', variables('MySearch').Name)]"
    ],
    "properties": {
      "etag": "*",
      "interval": "[variables('MyAlert').Schedule.Interval]",
      "queryTimeSpan": "[variables('MyAlert').Schedule.TimeSpan]",
      "enabled": true
    }
    },

    {
    "name": "[concat(parameters('workspaceName'), '/', variables('MySearch').Name, '/',  variables('MyAlert').Schedule.Name, '/',  variables('MyAlert').Name)]",
    "type": "Microsoft.OperationalInsights/workspaces/savedSearches/schedules/actions",
    "apiVersion": "2015-11-01-preview",
    "dependsOn": [
      "[concat('Microsoft.OperationalInsights/workspaces/', parameters('workspaceName'), '/savedSearches/',  variables('MySearch').Name, '/schedules/', variables('MyAlert').Schedule.Name)]"
    ],
    "properties": {
      "etag": "*",
      "Type": "Alert",
      "Name": "[variables('MyAlert').DisplayName]",
      "Description": "[variables('MyAlert').Description]",
      "Severity": "[variables('MyAlert').Severity]",
      "Threshold": {
        "Operator": "[variables('MyAlert').ThresholdOperator]",
        "Value": "[variables('MyAlert').ThresholdValue]",
        "MetricsTrigger": {
          "TriggerCondition": "[variables('MyAlert').MetricsTrigger.TriggerCondition]",
          "Operator": "[variables('MyAlert').MetricsTrigger.Operator]",
          "Value": "[variables('MyAlert').MetricsTrigger.Value]"
        }
      },
      "Throttling": {
        "DurationInMinutes": "[variables('MyAlert').ThrottleMinutes]"
      },
      "EmailNotification": {
        "Recipients": "[variables('MyAlert').Notification.Recipients]",
        "Subject": "[variables('MyAlert').Notification.Subject]",
        "Attachment": "None"
      }
    }
    }

  ],
  "outputs": {}
}